@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #292870;
}

/* header in nav */
nav{
    display: flex;
    justify-content: space-between;
    margin: 30px 100px;
}
.logo h1{
    color: white;
}
.bar i{
    font-size: 30px;
    color: white;
}
/* main */

.main-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60vh;
}
.main-title h1{
    color: #EFAB47;
}
.main-title h3{
    color: white;
}
.main-title h3 strong{
    text-decoration: underline;
}
.main-texts p{
    width: 700px;
    color: white;
}
.main-texts button{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #EFAB47;
    color: #292870;
    font-size: 19px;
    position: relative;
    top: 20px;
}
.main-texts button:hover{
    background-color: white;
    transition: 3s;
}
.images-content{
    display: flex;
    justify-content: center;
}
.image img{
    width: 260px;
    height: 250px;
    margin: 7px;
}
img:hover{
    opacity: 0.9;
}
.main-footer-content{
    margin: 100px;
    min-height: 10vh;
}
.footer-txt{
    text-align: center;
    color: white;
}
footer{
    text-align: center;
    background-color: #333333;
    padding: 40px;
}
footer p{
    color: white;
}